p { 
    display: block;
    margin: 6px;
    padding: 6px;
    border: 1px dashed black;
    width: 200px;
    height: 200px;
    background-color: orange; 
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
} 


div {
    

} 
div {
    width: 350px;
    inline-size: 350px;
    height: 50px;
    block-size: 50;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
}


.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
    box-sizing: border-box;
    }
  
  .has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
  }
  
  .has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
  }
.copyrigth_1992 {
    padding: auto;
}